body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

@media(max-width:382px) {
    .LineACross {
        height: 230px !important;
    }
}

@media(max-width:382px) {
    .LineFirstColumn {
        height: 217px !important;
        margin-left: -82px !important;
    }
}

@media(max-width:382px) {
    .LineSecondColumn {
        height: 217px !important;
    }
}

@media(max-width:382px) {
    .LineThirdColumn {
        height: 217px !important;
        margin-left: 76px !important;
    }
}

@media(max-width:382px) {
    .LineFirstRow {
        top: 7em !important;
    }
}

@media(max-width:382px) {
    .LineSecondRow {
        top: 12.6em !important;
    }
}

@media(max-width:382px) {
    .LineThirdRow {
        top: 18.4em !important;
    }
}


ol, ul {
    padding-left: 30px;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}

.square {
    background: #fff;
    border: 1px solid #000;
    float: left;
    font-size: 6rem;
    font-weight: bold;
    line-height: 34px;
    height: 8rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 8rem;
    transition: all 0.5s ease;
}

@media(max-width:382px){
    .square {
        background: #fff;
        border: 1px solid #000;
        float: left;
        font-size: 6rem;
        font-weight: bold;
        line-height: 34px;
        height: 5rem;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 5rem;
        transition: all 0.5s ease;
    }
}

.function-button {
    background: #fff;
    color: #000;
    padding: 0;
    border: none;
    transition: all 0.5s ease;
}
.function-button:disabled {
    opacity: 0.5;
}
.square:focus, .function-button:focus {
    outline: none;
}
.icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.5s ease;
}
#root {
    height: 100%;
}
.revert {
    background-color: #000;
    color: #FFF;
    transition: all 0.5s ease;
}
.revert .square {
    border: 1px solid #FFF;
    background-color: black;
    color: #FFF;
    transition: all 0.5s ease;
}
.revert .function-button {
    background: #000;
    color: #fff;
    transition: all 0.5s ease;
}
